body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins', sans-serif;
    color: #ffffff;
    background-color: #343434;
}
.container {
    width: 26%;
}
.card {
    border-radius: 50px;
    background-color: #343434;
    box-shadow: 5px 5px 10px #191b1b, -5px -5px 10px #595959;
    text-align: center;
    padding: 3%; 
}
h4 {
    font-size: 4rem;
    font-weight: 400;
    margin: 1rem;
}
img #icon {
    width: 20%;
}
h6 #weather {
    text-transform: capitalize;
}
button.refresh{
    display: block;
    width:100px;
    height: 100px;
    background: transparent;
    color:#9c9c9d;
    border-radius: 50%;
    border:0;
    font-size: 30px;
    box-shadow: 10px 4px 10px #252525, -10px -4px 10px #4a4a4a;
    margin: 10px auto;

}
button.refresh:hover{
    box-shadow: inset 10px 4px 10px #252525, inset -10px -4px 10px #4a4a4a;
    transition: 0.3s;
}

@media only screen and (max-width:991px) { 
    .container {
        width: 40%;
    }   
}
@media only screen and (max-width:767px) { 
    .container {
        width: 60%;
    }   
}
@media only screen and (max-width:480px) { 
    .container {
        width: 80%;
    }   
}